* {
    margin: 0;
    padding: 0;
}

.content-image {
    width: 50%;
    object-fit: contain;
    border-radius: 4px;
    display: inline-block;
}

body {
    padding-left: 4.8%;
    padding-right: 4.8%;
}

.main-page-content {
    display: inline-block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.content-all {
    display: inline-block;
    margin-left: 3.6%;
    vertical-align: middle;

}

.content-title {
    width: 210px;
    height: 102px;
    object-fit: contain;
    font-family: PlayfairDisplay;
    font-size: 38px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    transition: 1s;
}

.content-title:hover {
    background: #396afc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.HSCs-Blog {
    width: 101px;
    height: 27px;
    font-family: PlayfairDisplay;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.item-styles {
    font-size: 14px;
}

.alt-text {
    width: 470px;
    height: 41px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
