* {
    margin: 0;
    padding: 0;
}

.content-image {
    width: 50%;
    object-fit: contain;
    border-radius: 4px;
    display: inline-block;
}

.theme-light {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;
}

.theme-dark {
    --color-primary: #17ed90;
    --color-secondary: #243133;
    --color-accent: #12cdea;
    --font-color: #ffffff;
}

body {
    padding-left: 10%;
    padding-right: 10%;
}

.main-page-content {
    display: inline-block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.content-all {
    display: inline-block;
    margin-left: 3.6%;
    vertical-align: middle;

}

.content-title {
    width: 210px;
    height: 102px;
    object-fit: contain;
    font-family: 'Playfair Display', serif;
    font-size: 38px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    transition: 1s;
}



.HSCs-Blog {
    width: 101px;
    height: 27px;
    font-family: 'Quattrocento Sans', serif;
    font-size: 25px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.item-styles {
    font-size: 14px;
}

.alt-text {
    width: 470px;
    height: 41px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

.custom-btn {
    border: 1px solid black;
    border-radius: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 500;

}

#exception {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    vertical-align: center;
}

#search-button {
    font-size: 20px;
}

.last-articles-header {
    text-decoration: underline;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 20px
}

.custom-card-title {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.custom-nav-item {
    padding-right: 15px;
}

#footer {
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#footer-header {
    font-family: serif;
    font-weight: bold;
    font-size: 35px;
}

.icon-styling {
    font-size: 18px;
}

#bottom-rule {
    border: 1px solid black;
}

#brand-logo {
    font-family: 'Quattrocento Sans', 'Helvetica Neue';
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--color-secondary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: var(--font-color);
}

.container button {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}

#article-content {
    width: 70%;
    margin: auto;
}

.article-text {
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    line-height: 30px;
}
.last-paragraph{
    margin-bottom: 200px;
}

.twitter-share-button {}



